h1{
    color: darkblue;
    font-size: 2em;
}

body{
    background-color: #f4f4f4;
}

#demo{
    font-size: 20px;
    color: darkblue;
}

a:hover{
    color: grey;
    

}

a{
    
    text-decoration: none;
}

#post-btn{
    position: absolute;
    left: 320px;
}