.welcome{
    background-color: rgb(136, 154, 243);
}

#home{
    background-color: rgb(233, 235, 246);
    
}

h1{
    color: darkblue;
    font-size: 2em;
}

body{
    background-color: #f4f4f4;
}

#demo{
    font-size: 20px;
    color: darkblue;
}

a:hover{
    color: grey;
    

}

a{
    
    text-decoration: none;
}